<h1>About</h1>
<p><img alt="機械系出路分析，國考、研究所、就業，三個方向一次解析！-百官網公職" height="245" src="https://www.tkbtv.com.tw/p20160831EC010_1100_380/toPic.action" width="709"/></p>
<h1>Homework</h1>
<h2>WORK1</h2>
<h3>PCH2-Procedures and Safety</h3>
<p><strong><span style="color: #ff6600;">PCH 2/</span><span lang="zh-TW" style="color: #ff6600;">程序與安全</span></strong></p>
<p><span style="color: #0000ff;">p25</span></p>
<p class="title"><strong>Operational Procedures: Environmental Controls</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span style="color: #ff6600;"><span lang="zh-TW">操作程序：環境控制</span></span></pre>
<p><span style="color: #000000;">*Describe effective ways to reduce the risk of injury or damage while working with computer systems.</span></p>
<p><span style="color: #000000;">描述使用計算機系統時,受傷或損壞風險的有效方法。</span></p>
<p><span style="color: #000000;"><img alt="網路交換機輕鬆架構VoIP通訊系統- DIGITIMES 智慧應用" height="434" src="https://mms.digitimes.com/NewsImg/2012/1220/315838-1-M2FKY.jpg" width="571"/></span></p>
<p><span style="color: #000000;">  So, what is the best range of environmental controls to protect our workstations and provide our computers with the best operating environment? For temperature, we seek a range of 68-76 degrees Fahrenheit, and we attempt to keep the humidity between 20 and 60 percent. If the humidity is higher, it prevents electrostatic buildup. If the humidity is too high, though, condensation and water vapor can occur. It is a fragile balance, but the best rule of thumb is that if humans are comfortable, the environment is probably within the specifications. Also, we need to ensure proper ventilation for both people and computers. We want to minimize the dust in the environment and ensure adequate cooling to remove the heat created by the workstations.</span><span style="color: #000000;"><br/>   那麼，什麼是保護我們工作站並為我們的計算機提供最佳操作環境的最佳控制範圍？溫度，我們尋求的溫度範圍為華氏68-76度，並且嘗試將濕度保持在20％到60％之間。如果濕度較高，則可防止靜電積聚。但是，如果濕度太高，則會發生冷凝和水蒸氣。這是一個脆弱的平衡，最好的經驗法則是，如果人類感到舒適，則環境可能在規格範圍內。此外，我們需要確保人和計算機的通風良好。我們希望能最大程度地減少環境中的灰塵，並確保充分冷卻以消除工作站產生的熱量。</span></p>
<p><span style="color: #000000;">  Additionally, we need to consider the chemicals that we often encounter in our daily jobs. Each product that uses chemicals must have a material safety data sheet (MSDS) with it. This sheet includes the proper treatment if a person comes into contact with the substance, how to deal with chemical spills, how to properly dispose of the chemicals, and proper storage of the substance. MSDS are required for all products with chemicals, including things like window cleaning solution as well as more complex compounds like the thermal paste that we use in workstations.<br/>  此外，我們需要考慮日常工作中經常遇到的化學物質。每個使用化學藥品的產品都必須隨附材料安全數據表（MSDS）。該表包括如果有人接觸該物質應進行的適當處理，如何處理化學溢出物，如何正確處理該化學物質以及正確地存儲該物質。所有含化學物質的產品都需要MSDS，包括窗戶清潔液以及更複雜的化合物（例如我們在工作站中使用的導熱膏）。</span></p>
<p><span style="color: #000000;"><img alt="MATERIAL SAFETY DATA SHEET or SAFETY DATA SHEET" height="299" src="https://cdn.slidesharecdn.com/ss_thumbnails/msds-170716080157-thumbnail-4.jpg?cb=1532162803" width="399"/></span></p>
<p><span style="color: #0000ff;">p26</span></p>
<p class="title"><strong>Operational Procedures: Physical Safety</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span style="color: #ff6600;"><span lang="zh-TW">操作步驟：人身安全</span></span></pre>
<p class="title"><span style="color: #0000ff;"><span style="background-color: #ffffff; color: #000000;">*Explain appropriate safety measures and procedures while demonstrating basic computer assembly.<br/>在演示計算機的基本組裝時，請說明適當的安全措施和程序。</span><br/></span></p>
<p><span style="color: #0000ff;"><span style="background-color: #ffffff; color: #000000;">  Since we have considered the electrical dangers a technician might face, we must also consider the physical dangers. As information technology technicians, we often are involved in the “rollout” and replacement of existing systems, and in moving equipment from one office area to another. In this portion of our jobs, we often have to move hundreds of computers. Remember, the number one cause of injury for computer technicians is lifting items that are too heavy for us. A couple of rules of thumb to prevent injury: Do not lift anything over 25 percent of your own weight without assistance. Second, remember to always lift with your legs, not your back. If you follow these two simple rules, you can avoid the most common injuries in the workplace.<br/><span> <span> </span></span>由於我們已經考慮了技術人員可能面臨的電氣危險，因此我們還必須考慮物理危險。作為信息技術人員，我們經常參與“部署”和替換現有系統，以及將設備從一個辦公區域轉移到另一個辦公區域。在這部分工作中，我們經常不得不移動數百台計算機。請記住，計算機技術人員受傷的首要原因是提起對我們來說太重的物品。防止受傷的一些經驗法則：不要在沒有幫助的情況下舉起超過自身體重25％的東西。其次，請記住始終抬起雙腿，而不是背部。如果遵循這兩個簡單規則，則可以避免在工作場所中最常見的傷害。</span></span></p>
<p><span style="color: #0000ff;"><span style="background-color: #ffffff; color: #000000;">  Another area of concern is our impatience. Often when we go to work on a computer, we first turn off the machine and then open it up. Many of us forget that the computer may have been on and running for the past several days or weeks, building up an enormous amount of heat that can cause burns. It is a good idea to wait at least 15 minutes before touching items at the workstation, such as a laser printer’s fuser, the central processing unit (CPU) of the computer, or the power supply of the computer. These areas tend to generate the most heat and need time to dissipate the heat prior to maintenance.<br/><span> <span> </span></span>另一個值得關注的領域是我們的耐心。通常，當我們在計算機上工作時，我們首先關閉機器，然後再將其打開。我們中的許多人都忘記了計算機可能已經在過去的幾天或幾週內開機並運行，從而積聚了大量的熱量，可能引起灼傷。最好等待至少15分鐘，然後再觸摸工作站上的物品，例如激光打印機的定影器，計算機的中央處理器（CPU）或計算機的電源。這些區域會產生最多的熱量，並且在維護之前需要時間消散熱量。</span></span></p>
<p>  Finally, we must be wary of how we route cables, and must practice proper cable management. Do not run cables in the walkways or through places where employees may trip over them. If a worker trips on the cord, not only will the worker get hurt, but the workstation itself could be pulled off the desk and damaged. Place the computer and cables in a place where adequate air flow can occur; otherwise, the computer may overheat and have issues functioning. Finally, always remember to check local regulations when installing new network cables. Some areas require certain licenses or certifications, such as an electrician’s license, to run network cables. Also, you will need to install plenum-rated cables if you are running them in areas such as the ceiling, where ventilation systems are found.<br/><span> <span> </span></span>最後，我們必須警惕如何佈設電纜，且必須進行適當的電纜管理。勿在走道或員工可能絆倒的地方設置電纜。如果工人用電線絆倒，不僅會受傷，而且工作站本身可能會從桌子上拉下來並損壞。請將計算機和電纜放置在可產生足夠空氣流通的地方；否則，計算機可能會過熱並出現問題。最後，在安裝新的網絡電纜時，切記要檢查當地法規。有些地區需要某些許可證或證明（例如電工許可證）才能運行網絡電纜。另外，如果要在通風良好的區域（例如天花板）上鋪設增壓電纜，則需要安裝增壓電纜。</p>
<p><img alt="" height="241" src="/images/messageImage_1603277103689.jpg" width="322"/></p>
<p style="text-align: left;">  Proper cable management. Photo used under CC-BY-NC license from <span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;">Adrian Black</span></span>.<br/>  正確的電纜管理。照片由Adrian Black根據CC-BY-NC許可使用。</p>
<p style="text-align: left;">  So, why is cable management so important? Well, imagine your boss just told you that her workstation lost its connection to the network. You run down to the server room to see if you can troubleshoot her connection. You look first to check if her cable is plugged in, but you find the mess of cables below. How do you determine which is your boss’ connection? This mess causes issues with ventilation, cooling, and more importantly issues when trying to troubleshoot. Always run the cabling with proper cable management techniques and label the cables to assist you in the future during troubleshooting.<br/><span>  那麼，為什麼電纜管理如此重要？好吧，想像一下您的老闆剛剛告訴您她的工作站失去了與網絡的連接。您跑到服務器機房查看是否可以對她的連接進行故障排除。您首先要檢查她的電纜是否已插入，但在下面發現電纜亂七八糟。您如何確定老闆的聯接方式？這種混亂會導致通風，冷卻問題，更重要的是，嘗試進行故障排除時會出現問題。始終使用適當的電纜管理技術來佈線，並標記電纜，以在將來進行故障排除時為您提供幫助。</span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl" id="tw-target-rmn-container"><img alt="" height="482" src="/images/messageImage_1603277108568.jpg" width="362"/></p>
<p class="tw-ta-container hide-focus-ring tw-nfl">  Unsafe cables. Photo used under CC-BY-SA license from <span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;">Cloned Milkmen</span></span>.<br/><span> <span> 不安全的電纜。照片由Cloned Milkmen根據CC-BY-SA許可使用。</span></span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl"><span><span><img alt="" height="217" src="/images/messageImage_1603277119935.jpg" width="326"/></span></span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl"><span><span>  Labeled cables. Photo used under CC-BY-NC-ND license from Jisc.<br/><span> <span> </span></span>帶標籤的電纜。圖片來自Jisc的CC-BY-NC-ND許可。</span></span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl"><span><span><span style="color: #0000ff;">p27</span></span></span></p>
<p class="title"><strong>Operational Procedures: CRT Disposal</strong></p>
<p class="title"><span style="color: #ff6600;">操作程序：CRT處置</span></p>
<p class="title"><span><span>*Identify common hazards that may be encountered while working with computer systems and tools.<br/>確定使用計算機系統和工具時可能遇到的常見危險。<br/>*Describe effective ways to reduce the risk of injury or damage while working with computer systems.<br/>描述減少使用計算機系統時受傷或損壞風險的有效方法。<br/></span></span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl"><span><span>  Many older monitors you may find in the field are CRT monitors. These older monitors look like old televisions. These monitors tend to be very heavy, with 30” or larger models weighing nearly a hundred pounds. It is important to remember your lifting rules before moving these monitors. Most people are upgrading these old monitors to LCD or LED models, since they offer better picture quality and are much lighter. Many locations have special disposal rules for these devices. Many localities have a requirement to recycle monitors at a central waste facility. Finally, these monitors use capacitors to perform their functions. You must be careful not to open these monitors, as they can have 10,000-20,000 volts of potential voltage, even when they have been unplugged for long periods of time.<br/><span> <span> </span></span>您可能在現場發現的許多較舊的顯示器都是CRT顯示器。這些較舊的監視器看起來像舊電視。這些監視器往往非常重，具有30英寸或更大的型號，重量將近一百磅。在移動這些顯示器之前，請記住您的舉升規則，這一點很重要。大多數人都將這些舊顯示器升級為LCD或LED型號，因為它們提供了更好的圖像質量並且更輕。許多位置都有針對這些設備的處置規則。許多地方都要求在中央廢物處理設施回收監測器。最後，這些監視器使用電容器來執行其功能。您必須小心不要打開這些顯示器，因為即使長時間拔下插頭,它們也可能具有10,000-20,000伏的潛在電壓。</span></span></p>
<p class="tw-ta-container hide-focus-ring tw-nfl"><span><span>影片網址:<span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;"><a href="https://youtu.be/p2Oq_QmrrxU">https://youtu.be/p2Oq_QmrrxU</a></span></span></span></span></p>
<h3>PCH3-Customer Relations</h3>
<p><strong><span style="color: #ff6600;">PCH 3/客戶關係</span></strong></p>
<p><span style="color: #0000ff;">p28</span></p>
<p><span style="color: #0000ff;"><span style="color: #000000;">*<span>Recognize and explain the general principles of professional customer service.</span></span></span></p>
<p><span style="color: #0000ff;"><span style="color: #000000;">認識並解釋專業客戶服務的一般原則。</span></span></p>
<p><span style="color: #0000ff;"><span style="color: #000000;">*<span>Set up a computer system and demonstrate operation for the customer.</span></span></span></p>
<p><span style="color: #0000ff;"><span style="color: #000000;">設置計算機系統並為客戶演示操作。</span></span></p>
<p><span style="color: #0000ff;">p29</span></p>
<p><strong><span style="color: #000000;">Overview</span></strong></p>
<p><span style="color: #ff6600;">總覽</span></p>
<p><span style="color: #000000;">  In this lesson we will be discussing the standards of professional business conversations and the basics of customer service. We will discuss the importance of avoiding distractions and the best practices in customer service and communication.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">  在本課程中，我們將討論專業商務對話的標準和客戶服務的基礎。我們將討論避免分心的重要性以及客戶服務和溝通中的最佳做法。</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">  Content has been derived from the <span style="text-decoration: underline;"><span style="color: #0000ff; text-decoration: underline;">STEM Readiness course</span></span> by the National STEM Consortium under a CC-BY license.</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">  內容是根據CC-BY許可從國家STEM聯盟的STEM準備課程中獲得的。</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW" style="color: #0000ff;">P30</span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW" style="color: #000000;">Operational Procedures: Communication Methods and Professional</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW" style="color: #000000;"><span style="color: #ff6600;">操作程序：交流方法和專業人員</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW" style="color: #000000;">*<span>Recognize and explain the general principles of professional customer service.</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW" style="color: #000000;"><span>認識並解釋專業客戶服務的一般原則。</span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr">  The first thing we need to realize is that working in the information technology (IT) field is working in a customer service field. The IT field is unique in its own way, but it’s driven by customer service. While the standards of professional business conversations generally apply, there is also the unique aspect of the technician possessing “special knowledge” that a more senior professional may not possess. For example, a person whose computer you are there to fix may be a senior manager at your company, but they may have no idea about how to fix computers. You must, then, remain calm and measured in responding to the client’s needs, yet remain authoritative in your body of knowledge and procedures. This can be difficult for new technicians. Remember, always be kind and patient: the client needs your help!<br/><span> <span> 我們需要意識到的第一件事是，在信息技術（IT）領域中的工作正在在客戶服務領域中。 IT領域以其自己的方式是獨特的，但它是由客戶服務驅動的。雖然通常使用專業商務對話的標準，但是技術人員具有<span>“高級專業知識”所不具備的</span><span>獨特之處，而高級專業人士可能不具備。例如，您要修理計算機的人可能是您公司的高級經理，但他們可能不知道如何修理計算機。然後，您必須保持冷靜並在回應客戶需求時保持冷靜，並在您的知識和程序中保持權威。對於新技術人員而言，這可能很困難。記住，永遠要仁慈和耐心：客戶需要您的幫助！</span></span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"><img alt="" height="334" src="/images/messageImage_1603277112835.jpg" width="558"/></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW"><span>  Photo used under CC-BY-SA license from </span><a href="https://flic.kr/p/5LqyNr" id="_i_1" lang="" target="_blank">Manchester</a><a href="https://flic.kr/p/5LqyNr" id="_i_2" lang="" target="_blank">City Library</a><span>.<br/><span> <span> 照片由曼徹斯特市圖書館根據CC-BY-SA許可使用。</span></span></span></span></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><strong><span lang="zh-TW">Customer Service Key Principles </span><span style="color: #ff6600;">客戶服務關鍵原則</span></strong></p>
<p class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr">  Employers have indicated that there are several key principles to follow when handling customers to ensure that you are providing a positive customer service experience.<br/>  雇主表示，在處理客戶時要遵循幾個關鍵原則，以確保您提供積極的客戶服務體驗。</p>
<p lang="">  Truly exceptional customer service involves surprising and delighting the customer by exceeding his or her expectations. Good customer service includes the following key elements:<br/><span> <span> </span></span>真正出色的客戶服務涉及超出客戶期望的驚喜和喜悅。良好的客戶服務包括以下關鍵要素：</p>
<ul lang="">
<li lang="">Effective listening.  <span style="color: #ff6600;">有效聆聽</span>。</li>
<li lang="">Taking ownership of the situation.  <span style="color: #ff6600;">掌握情況</span>。</li>
<li lang="">Apologizing when appropriate.  <span style="color: #ff6600;">適當的時候道歉</span>。</li>
<li lang="">Remaining courteous and professional in all situations.  <span style="color: #ff6600;">在任何情況下都保持禮貌和專業</span>。</li>
<li lang="">Handling situations in a timely manner.  <span style="color: #ff6600;">及時處理情況</span>。</li>
<li lang="">Ensuring customers’ issues are resolved.  <span style="color: #ff6600;">確保解決客戶的問題</span>。</li>
<li lang="">Checking back with customers to ensure the problem was resolved to their satisfaction.  <span style="color: #ff6600;">與客戶核對，以確保問題得到滿意的解決</span>。</li>
</ul>
<p><span>  As a technician, depending on where you work, you will find that sometimes your customers are your company’s clients, and sometimes your customers are other employees at the company you work for. Whether they work for the same company that you do, are clients for your company, or are private individuals relying on your company, the same principles of customer service apply.<br/><span> <span> </span></span></span><span lang="zh-TW">作為技術人員，根據您的工作地點，您會發現有時您的客戶是您公司的客戶，有時您的客戶是您所在公司的其他員工。無論他們與您在同一家公司工作，是您公司的客戶，還是依靠您公司的私人人士，都適用相同的客戶服務原則。</span></p>
<p><span lang="zh-TW" style="color: #3366ff;">p31</span></p>
<p><strong>Effective Listening</strong></p>
<p><span style="color: #ff6600;">有效聆聽</span></p>
<p><span style="color: #000000;">*<span>Recognize and explain the general principles of professional customer service.</span></span></p>
<p><span style="color: #000000;"><span>認識並解釋專業客戶服務的一般原則。</span></span></p>
<p><span style="color: #000000;"><span>  This principle is one of the most important elements in the ability of an employee to deliver outstanding customer service. Effective listening involves paying careful attention to what the customer is saying and watching the customer’s body language (if the encounter is in person) to detect the nonverbal cues that give clues as to what the customer is thinking and feeling.                                                                                                                               </span></span><span style="color: #000000;"><span>該原則是員工提供出色客戶服務能力中最重要的要素之一。 有效的聆聽包括認真注意客戶在說什麼，並觀察客戶的肢體語言（如果是親自遇到的話），以發現非語言線索，從而提供有關客戶在想什麼和感覺的線索。</span></span></p>
<p><span style="color: #000000;"><span><img alt="" height="338" src="/images/image2.jpeg" width="566"/></span></span></p>
<p><span style="color: #000000;"><span>  Listening. Photo used under CC-BY-NC-ND license from <a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz" id="_i_1" lang="" target="_blank">Cabinet</a><a href="https://www.flickr.com/photos/cabinetoffice/6684174833/in/photolist-bbE9iF-aSnP2t-aSnPmv-goanm-fBHdY9-88e38W-aw3PTS-aw17LM-aw17Bn-aw16A4-aw16oP-aw3P93-aw19En-aw17HK-aw1932-aw3MSq-aw3MFG-aw16rR-aw16ZM-aw3LXL-bbE7tX-88aRs2-88e5WW-99pSBf-88aShR-8csGVq-88ewoj-88evEm-88eyaE-88aNfT-88e4vU-88bgYT-88euvd-88aMcn-88e4mu-88e4L9-88aP4R-ayWBXW-88e2nG-88aSn2-88aLrT-99mKqp-7RhBfM-6uQMCX-ehZWW2-dKGinD-9wN5Bz-kCADyW-bihZUV-6xRMaz" id="_i_2" lang="" target="_blank">Office</a><span>.                                </span>聽著在CabinetOffice的CC-BY-NC-ND許可下使用的照片。</span></span></p>
<p><span style="color: #000000;"><span>  An effective listener is able to ask clarifying questions to help define the situation. At the end of the exchange, the employee should be able to clearly restate what the real problem is and what the customer is asking the company to do in response. The example below illustrates effective listening skills.                                                                                        有效的傾聽者能夠提出明確的問題，以幫助確定情況。 在交換結束時，員工應該能夠清楚地說明真正的問題是什麼，以及客戶要求公司做些什麼作為回應。 下面的示例說明了有效的聆聽技巧。</span></span></p>
<p><span style="color: #00ccff;">EXAMPLE 例子</span></p>
<p><span style="color: #000000;"><span>參考影片: <a href="https://www.youtube.com/watch?v=d4DQvwKTj0k">https://www.youtube.com/watch?v=d4DQvwKTj0k</a></span></span></p>
<p id="N106A6" lang="">Representative: Hello, thank you for calling the Metro Power Company, how may I help you?</p>
<p id="N106A9" lang="">Customer: Hi, I need to report that my power is currently out.</p>
<p id="N106AC" lang="">Representative: I’m happy to record the outage. I’ll need to get just a bit more information from you to properly document the outage. What is the service address, please?</p>
<p id="N106AF" lang="">Customer: 456 Park Street, Cityville, Delaware.</p>
<p id="N106B2" lang="">Representative: Thank you. And your name, please?</p>
<p id="N106B5" lang="">Customer: Emily Fisher.</p>
<p id="N106B8" lang="">Representative: Thank you Ms. Fisher. You are indicating that your power is out now. Let me check to see if we are already aware of the outage in your area. (pause) Thank you for your patience while I pull the information up in our system.</p>
<p id="N106BB" lang="">Customer: Sure.</p>
<p id="N106BE" lang="">Representative: OK, thanks again for your patience. An outage in your area has been documented, and there are currently technicians working to correct the issue.</p>
<p id="N106C1" lang="">Customer: Do you know when service will be restored?</p>
<p id="N106C4" lang="">Representative: The current estimate is that power should be restored in two to four hours.</p>
<p id="N106C7" lang="">Customer: Well, that’s not too bad. Thanks for the information.</p>
<p id="N106CA" lang="">Representative: You’re quite welcome. Is there anything else that I can help you with today?</p>
<p id="N106CD" lang="">Customer: No, that’s all.</p>
<p id="N106D0" lang="">Representative: Thank you for calling Metro Power Company.</p>
<p>代表：您好，謝謝您致電都會電力公司，我該如何幫助您？</p>
<p>客戶：您好，我需要我停機的原因。</p>
<p>代表：我很高興能為您服務。我需要從您那裡獲取更多信息，以正確記錄停機情況。請問服務地址是什麼？</p>
<p>客戶：特拉華州Cityville公園街456號。</p>
<p>代表：謝謝。請問您的名字？</p>
<p>客戶：艾米麗·費舍爾（Emily Fisher）。</p>
<p>代表：謝謝費雪女士。您指示您的電源已耗盡。讓我檢查一下是否已經知道您所在地區的停電情況。 （暫停）感謝您在我在系統中獲取信息時的耐心配合。</p>
<p>客戶：好的。</p>
<p>代表：好的，再次感謝您的耐心配合。已記錄您所在區域的中斷，並且目前有技術人員正在糾正此問題。</p>
<p>客戶：您知道何時恢復服務嗎？</p>
<p>代表：當前估計是應該在兩到四個小時內恢復供電。</p>
<p>客戶：嗯，還算不錯。謝謝。</p>
<p>代表：不用客氣。今天還有什麼我可以幫助您的嗎？</p>
<p>客戶：不，僅此而已。</p>
<p>代表：感謝您致電都會電力公司。</p>
<p>  In the conversation that we just reviewed, the customer service representative is polite, asks clarifying questions and confirms that she has the correct information, which indicates that she is using effective listening skills. She also thanks the customer for her patience with the outage and provides information on when the power is expected to be turned back on. The customer service representative also asks if the customer has any additional needs and thanks her for reporting the outage. All of this is conducted in a polite tone of voice.                在我們剛剛審核的對話中，客戶服務代表很有禮貌，詢問您要澄清的問題並確認她掌握了正確的信息，這表明她正在使用有效的聆聽技巧。 她還感謝客戶對停電的耐心等待，並提供了有關何時應重新打開電源的信息。 客戶服務代表還詢問客戶是否還有其他需求，並感謝她報告中斷情況。 所有這些都是以禮貌的語調進行的。</p>
<p><span>  When effective listening is used properly, customers will feel that you are empathizing with them and will think that you understand their situation. Truly empathizing with a customer means that you are able to mentally place yourself in the customer’s situation and understand what the customer is actually feeling at that time. An employee who has the ability to recognize and acknowledge the customer’s concerns as though the employee were actually walking in the customer’s shoes is empathizing with the customer. Employees may establish a connection with customers by sharing their own similar experiences and letting the customers know, “I understand how hard this must be for you right now.” Empathy goes beyond sympathy.                                                                                                          </span>正確使用有效的聆聽後，客戶會覺得您理解他們，並了解他們的處境。 真正地同情客戶意味著您能夠在心理上置身於客戶的情況中，並了解當時客戶的實際感受。 能夠識別並確認客戶顧慮的員工，置身於客戶的角度看事情，對客戶產生同情。 員工可以通過分享自己的相似經歷並讓客戶知道“我知道現在這對您來說有多麼艱辛”，可以與客戶建立聯繫。 同理心超越同情。</p>
<p><span>  Here are several examples of empathetic statements that can create a connection with a customer in a positive way:                                                                                                以下是傭有同理心的幾個示例，這些示例可以以積極的方式與客戶建立聯繫：</span></p>
<ul>
<li lang="">"I am sorry the power is out right now. It is such a hot day and I know that it must be frustrating for you. Our company is working hard to restore power in your area so that you can have air conditioning again soon."                                                            “很抱歉，目前電源已經關閉。天氣真熱，我知道那一定會讓您感到沮喪。我們公司正在努力恢復您所在地區的電源，以便您可以很快再次使用空調。”</li>
<li lang="">"I know how frightening it must have been when the plane experienced bad turbulence on that last flight. I get somewhat anxious when I fly and I really hate it when the ride is bumpy."                                                                                     “我知道當飛機在最後一次飛行中遇到嚴重的湍流時，一定會感到多麼恐懼。我飛行時會有些焦慮，而當飛機顛簸時我真的很討厭它。”</li>
<li lang="">“You must be very frustrated that your computer can’t connect to the Internet. I need Internet access for almost everything that I do, so I know how hard it is to try to work without it. We’re figuring out the source of your connectivity issue, and we’ll fix it as soon as possible.”                                                                                               “您一定對計算機無法連接到互聯網感到非常沮喪。 我幾乎需要做的所有事情都需要Internet訪問，所以我知道沒有Internet嘗試工作會有多麼困難。 我們正在找出您的連接問題的根源，並將盡快解決。” </li>
</ul>
<p>  <span>As a technician, it’s important to remember that not all customers will have a detailed knowledge of computers. We should use proper language that is simple and concise, not technical jargon that is confusing. If you are dealing with computer novices, it doesn’t help them for you to tell them the reason for their Internet connectivity issue is that “layer 3 of the OSI model is not functioning properly.” Instead, use effective listening principles to hear the customer’s problem, then share that the router isn’t working properly and therefore the customer cannot access the Internet, but you are going to get it fixed for them quickly. You must listen to the customer and clarify the problem. Don’t interrupt the customer, and always ensure you are restating the issue to the customer to confirm your understanding of the problem.                                                                                                                      作為技術人員，重要的是要記住，並非所有客戶都會對計算機有詳盡的了解。 我們應該使用簡單明了的適當語言，而不要使用容易引起混淆的技術術語。 如果您正在與計算機新手打交道，這並不能幫助他們告訴他們互聯網連接問題的原因是“ OSI模型的第3層無法正常運行”。 取而代之的是，使用有效的偵聽原理來聽取客戶的問題，然後分享路由器無法正常工作，因此客戶無法訪問Internet，但是您將很快為他們解決問題。 您必須聽取客戶的意見並澄清問題。 不要打擾客戶，並始終確保您將問題重述給客戶，以確認您對問題的理解。</span>     </p>
<p><span style="color: #3366ff;">p32             </span>      </p>
<p><strong>Taking Ownership</strong></p>
<p><span style="color: #ff6600;">取得所有權 </span>          </p>
<p>*<span>Recognize and explain the general principles of professional customer service.                  認識並解釋專業客戶服務的一般原則。</span>                             </p>
<p><span>  Customers expect that an employee will take ownership of a situation. Taking ownership means that the employee takes responsibility for the situation and reassures the customer that the employee will take action. The employee should follow through and follow up afterwards to make sure the situation was resolved to the customer’s satisfaction. The employee should also promise to keep the customer informed as to what is happening along the way. An employee who is truly taking ownership of a situation is in regular contact with the customer, is continually trying to resolve the problem, and strives to keep the customer in the information loop.                                                                                                      客戶期望員工將擁有情況的所有權。 擁有所有權意味著員工對情況負責，並向客戶保證員工將採取行動。 員工應跟進並隨後跟進，以確保情況得到解決，以使客戶滿意。 員工還應承諾使客戶了解沿途情況。 真正掌握情況所有權的員工與客戶保持定期聯繫，正在不斷嘗試解決問題，並努力使客戶保持信息循環。</span></p>
<p><strong>Apologizing When Appropriate <span style="color: #ff6600;"> </span></strong><span style="color: #ff6600;">適當道歉</span></p>
<p><span style="color: #000000;"><span>  Another effective customer service principle is to apologize when it is appropriate. There are two types of apologies. One type is used when the employee is taking ownership of a problem and apologizing for something that his company did or did not do:                            </span>另一個有效的客戶服務原則是在適當的時候道歉。 道歉有兩種類型。 當員工對某個問題承擔所有權並為公司所做或未做的事情道歉時，使用一種類型：</span></p>
<ul lang="">
<li lang="">"I am sorry that I did not call you back yesterday to follow up."                              “很抱歉昨天我沒有給您回電話。”</li>
<li lang="">"I am sorry that our company did not ship the product that you ordered."                “我很抱歉，我們的公司並沒有發貨您所訂購的產品。”</li>
</ul>
<p><span style="color: #000000;"><span>  It is always appropriate to apologize for errors that your company has made and to try to resolve them to the best of your ability. It is especially important to apologize to a customer who has become angry or frustrated about the situation.                                                      </span>對於您的公司所犯的錯誤，並儘力解決這些錯誤，總是很抱歉的。 向因這種情況而感到生氣或沮喪的客戶道歉尤其重要。</span></p>
<p><span style="color: #000000;"><span>  In some cases, the customer is angry about a situation that is really not the company’s fault, and that may not be something that the company can resolve at that point in time. In these situations, it may be appropriate to offer kind and sympathetic words that sound somewhat like an apology in order to defuse the situation. Examples of this might include:      在某些情況下，客戶會對這種情況感到生氣，而這並非公司的過錯，而這可能不是公司當時可以解決的。 在這種情況下，為了緩和這種情況，可能應該提供聽起來像道歉的友善和同情的詞。 例如：</span></span></p>
<ul lang="">
<li lang="">"I am so sorry that you are frustrated."  “對不起，讓您感到沮喪。”</li>
<li lang="">"I am sorry that happened to you."  “對不起，這件事發生在你身上。”</li>
</ul>
<p><span style="color: #00ccff;">EXAMPLE  例子</span></p>
<p><span style="color: #000000;"></span></p>
<p id="N106AB" lang="">Ron is a customer at a computer supply store. He calls one morning to talk with Joe, the manager.</p>
<p id="N106AE" lang="">“Joe, I came by the store yesterday at 5:15 p.m. to get some things I needed to finish a job. It was really important that I finish the job yesterday. Your store was closed and I couldn’t get what I needed. I know you close at 5 p.m., but I thought for sure there would still be someone there. It was only 5:15. Some of your staff are usually there past 5 p.m. I didn’t get the job finished and lost a lot of money! I’m never shopping at your store again!”</p>
<p lang="">Let’s take a look at how Joe might respond.</p>
<p>羅恩（Ron）是一家計算機用品商店的客戶。 他打電話給一個早晨與經理喬談話。</p>
<p>“喬，我昨天下午5:15在商店走。 拿到一些我完成工作所需的東西。 我昨天完成工作真的很重要。 您的商店關門了，我找不到我想要的東西。 我知道你下午5點關門，但是我想肯定還會有人在那兒。 只要到5:15。 您的一些員工通常在下午5點以後到達。 我沒有完成工作，卻損失了很多錢！ 我再也不會在您的商店購物了！”</p>
<p>讓我們看一下喬可能如何回應。</p>
<p><strong>Show Empathy </strong> <span style="color: #ff6600;">顯示同理心</span></p>
<p><span style="color: #000000;">  <span>“I understand how frustrated you must be.” In this situation, the company didn’t do anything wrong, so it would not be appropriate for Joe to apologize for the fact that the store closed at the regular posted time. If he says, “I’m so sorry we closed at 5 p.m., we really should have stayed open later,” it undermines the fact that the store has regular operating hours that are posted clearly on the door and on the company’s website.                                 </span></span><span class="" title="">“我知道你一定很沮喪。”</span> <span class="" title="">在這種情況下，公司沒有做錯任何事情，因此喬不宜因商店在正常發佈時間關閉而道歉。</span> <span class="" title="">如果他說：“對不起，我們下午5點關門，我們確實應該晚點營業。”這破壞了商店的正常營業時間清楚地印在門上和公司網站上的事實。</span></p>
<p><span class="" title=""><span>  Joe needs to determine an appropriate response that acknowledges the customer’s frustration without undermining store policy.                                                                        喬</span>需要確定一個適當的響應，在不損害商店政策的前提下，承認客戶的挫敗感。</span></p>
<div class="tlid-input input">
<div class="source-wrap">
<div class="input-full-height-wrapper tlid-input-full-height-wrapper">
<div class="source-input">
<div class="source-footer-wrap source-or-target-footer">
<div class="source-footer">
<div class="speech-wrap source-or-target-footer-button left-positioned">
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" id="gt-speech" role="button"><span class="jfk-button-img"><span>  “I’m sorry you lost money on your job, and I understand how frustrating that must be for you. If you would like to come into the store this morning, I would be happy to personally help you locate whatever you might need to finish your job.”                                                  “對不起，您在工作上賠了錢，而且我知道那一定會讓您感到沮喪。 如果您想今天早上進店，我很樂意親自幫助您找到完成工作所需的一切。”</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img"><span>  In this example, Joe strikes the right balance. He expresses regret that his customer lost money on his job, and also offers to assist him in locating the supplies he needs to finish the job now. However, he does not acknowledge any fault on the part of his company. The company closed at the regular posted time, and the customer arrived too late in the day.        在這個例子中，喬實現了正確的平衡。 他對客戶在工作中賠錢感到遺憾，並表示願意幫助他找到現在完成工作所需的用品。 但是，他不承認公司有任何過錯。 該公司在正常的發佈時間關閉，而客戶當天到達的時間太晚了。</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #0000ff;">p33</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><strong><span class="jfk-button-img">Remain Courteous and Professional </span></strong></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><strong><span class="jfk-button-img"> </span></strong></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #ff6600;">保持禮貌和專業</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;">*<span>Recognize and explain the general principles of professional customer service.                  </span>認識並解釋專業客戶服務的一般原則。</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  An employee providing customer service must learn to remain courteous in all situations, regardless of how the customer behaves.                                                                            </span>提供客戶服務的員工必須學會在所有情況下都保持禮貌，無論客戶的行為如何。</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  The ability to defuse angry customers and handle difficult situations is a key element in providing effective customer service. An important strategy is to let the customer know what you are doing to solve the problem. Also, the ability to communicate on the same level as the customer and understand the audience is essential. Communicating on the same level as the customer means making sure to ask clarifying questions, repeating the information to ensure that you completely understand the issue and making sure the customer knows that you understand and will deal with the problem. It does not mean matching the customer’s behavior, particularly if the customer is angry or frustrated.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  化解憤怒的客戶並處理困難情況的能力是提供有效客戶服務的關鍵要素。 一個重要的策略是讓客戶知道您正在採取什麼措施來解決問題。 此外，與客戶在同一水平上進行交流並了解受眾的能力也至關重要。 與客戶在同一級別上進行通信意味著確保提出明確的問題，重複信息以確保您完全理解問題，並確保客戶知道您已理解並會解決問題。 這並不意味著匹配客戶的行為，尤其是在客戶生氣或沮喪的情況下。</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span><img alt="" height="400" src="/images/image4.jpeg" width="266"/></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  Customer Service. Photo used under CC-BY license from <a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316" id="_i_1" lang="" target="_blank">Seattle</a><a href="https://www.flickr.com/photos/seattlemunicipalarchives/3182935316" id="_i_2" lang="" target="_blank">Municipal Archives</a><span>.</span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span><span>  客戶服務。 西雅圖市政檔案館的CC-BY許可使用的照片。</span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span><span></span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span><span><strong>What are courteous behaviors?</strong>  <span style="color: #ff6600;">什麼是有禮貌的行為？</span></span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span><span><span style="color: #ff6600;"></span></span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  It is extremely important to maintain good eye contact, a moderate tone of voice, and positive body language during interactions with customers. Courteous behaviors could include a warm or sympathetic smile; an offer to take the customer to a more private location for further discussions; an offer of a tissue in the event of tears; an offer to call a family member if the customer appears extremely distressed, or an offer to give the customer a bit of privacy to pull himself together a bit more before resuming discussion about the problem.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;">  與客戶互動時，保持良好的眼神交流，適度的語氣和積極的肢體語言極為重要。 有禮貌的舉止可能包括溫暖或富有同情心的微笑。 提供將客戶帶到更私密的位置進行進一步討論的提議； 在流淚的情況下提供紙巾； 如果客戶看上去非常苦惱，可以打電話給家庭成員，或者要給客戶一些私密性，以便在恢復有關該問題的討論之前將自己拉得更多一些。</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  Sometimes companies lose business because their employees do not demonstrate courteous behavior. They can quickly lose valued customers if company employees are rude or unhelpful. Employing proper phone etiquette is critically important. It is important to mute the telephone whenever you have to discuss a situation with a coworker. When chatting with a customer, use small talk only when appropriate and only about harmless topics such as the weather. If you must place someone on hold, check with the person frequently.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span>  有時，公司因員工沒有表現出禮貌而失去業務。 如果公司員工無禮或無益，他們可能會迅速失去有價值的客戶。 正確使用電話禮節至關重要。 每當您需要與同事討論情況時，都必須使電話靜音。 與客戶聊天時，僅在適當的時候進行閒聊，並且僅談論天氣等無害的話題。 如果必須擱置某人，請經常與該人核對。</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span class="jfk-button-img" style="color: #000000;"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button">
<ul lang="">
<li lang="">"This will take a bit longer than I thought, would you like to continue to hold or may I call you back?"  “這將比我想像的要花費更長的時間，您想繼續保留還是可以給您回電？”</li>
<li lang="">"Is there a good number where I can reach you when I have the answer?"              “找到答案後，能找到您的電話嗎？”</li>
</ul>
<p><span>  Expectation management is crucial: always set expectations and meet those expectations. Do </span><em class="bold" lang="">not<span> </span></em><span>promise something you cannot deliver. As you work through the problem, maintain a positive attitude and tone of voice; you will get more referrals and business if you remain likeable. Remember: the customer isn’t the problem, the customer is the one<span> </span></span><em class="bold" lang="">with<span> </span></em><span>the problem. So, don’t argue with the customer; just solve the problem. Also, don’t minimize the customer’s issues: to the customer, it is a horrible, tragic, big problem that they need you to fix. Never blame the customer for the problem or be judgmental toward the customer. Saying “If you didn’t go to that website, you wouldn’t have this problem” isn’t helpful, it is just insulting. Also, your mobile phone can wait while you are interacting with a customer. Give the customer your full attention and avoid distractions.                                                  期望管理至關重要：始終設定期望並滿足這些期望。 不要承諾無法交付的東西。 解決問題時，請保持積極的態度和語氣； 如果您仍然喜歡，您將獲得更多的推薦和生意。 請記住：客戶不是問題，客戶是有問題的人。 因此，請勿與客戶爭論； 只是解決問題。 另外，不要最小化客戶的問題：對客戶而言，這是一個可怕的，悲劇性的大問題，需要他們解決。 切勿將問題歸咎於客戶或對客戶作出判斷。 說“如果您不訪問該網站，就不會遇到這個問題”，這無濟於事，只是侮辱。 同樣，您的手機可以在與客戶互動時等待。 給客戶充分的關注，避免分心。</span></p>
<p><span><strong>Timeliness</strong>  </span></p>
<p><span><span style="color: #ff6600;">及時性</span></span></p>
<p id="N106E6" lang="">  It is important to resolve customer issues as quickly as possible. The longer a problem persists without resolution, the greater the customer’s level of frustration.                              盡快解決客戶問題很重要。 無法解決的問題持續的時間越長，客戶的沮喪程度就越大。</p>
<p id="N106E9" lang=""><strong>How do you judge timeliness? </strong><span style="color: #ff6600;"> 您如何判斷及時性？</span></p>
<p lang=""><span style="color: #000000;">  <span>Timeliness is actually a very subjective thing: it is truly something that is defined by the customer and the situation. Some customers expect an immediate response (i.e. now or in the very near future: five to ten minutes). Other customers understand that the problem may take some time to resolve and may be willing to wait a couple of hours. Still others understand that the situation is going to take more time to resolve for a variety of reasons. For example, some more extensive repairs may be delayed for several days while waiting for parts to arrive.                                                                                                              </span>及時性實際上是一個非常主觀的東西：它確實是由客戶和情況所定義的東西。 一些客戶希望得到立即響應（即現在或不久的將來：五到十分鐘）。 其他客戶知道該問題可能需要一些時間才能解決，並且可能願意等待幾個小時。 還有一些人知道，由於多種原因，這種情況將需要更多時間來解決。 例如，在等待零件到達之前，一些更大規模的維修可能會延遲幾天。</span></p>
<p lang=""><span style="color: #000000;"><span>  The nature of the problem will dictate what is a timely response. If a user or customer is at a work stoppage, a quick response by the technician is expected. If a user has forgotten a password, an immediate password reset is a timely response. In the case of a non-functioning printer in a room with other printers, a slower response is more acceptable.          問題的性質將決定什麼是及時的響應。 如果用戶或客戶處於工作停頓狀態，則技術人員會做出快速響應。 如果用戶忘記了密碼，則立即重置密碼是及時的響應。 如果房間中的打印機無法正常運行，而其他打印機則可以接受較慢的響應。</span></span></p>
<p lang=""><span style="color: #000000;"><span><img alt="" height="212" src="/images/image5.png" width="320"/></span></span></p>
<p lang=""><span style="color: #000000;"><span>  Photo used under CC-BY-NC license from <a href="https://flic.kr/p/6u1ypH" id="_i_4" lang="" target="_blank">Tyle.</a>                                                                    </span></span><span style="color: #000000;"><span>照片由Tyle根據CC-BY-NC許可使用。</span></span></p>
<p lang=""><strong><span style="color: #000000;">Keeping the Customer Informed  </span></strong><span style="color: #ff6600;">保持客戶知情</span></p>
<p lang=""><span style="color: #000000;">  <span>No matter how long a situation takes to resolve, it is critically important to continue to check back with customers and let them know that you are working on the problem during the process. This interaction helps lessen customers’ frustration, because they understand that you have not forgotten them and are working hard to resolve the situation. This strategy is tied closely to the issue of handling situations in a timely manner. A customer who is informed regularly throughout a situation, no matter how long it takes to resolve, is generally more happy with the outcome in the end.                                                               無論情況要花多長時間解決，至關重要的是繼續與客戶核對並讓他們知道您在此過程中正在解決問題。 這種互動有助於減輕客戶的沮喪感，因為他們知道您沒有忘記他們，並且正在努力解決問題。 該策略與及時處理情況緊密相關。 不管情況需要花費多長時間，在整個情況下定期得到通知的客戶通常會對最終結果感到更滿意。</span></span></p>
<p lang=""><span style="color: #0000ff;">p34</span></p>
<p lang=""><span style="color: #000000;"><strong>Problem Resolution and Follow-Up</strong>  </span></p>
<p lang=""><span style="color: #000000;"><span style="color: #ff6600;">問題解決與跟進</span></span></p>
<p lang=""><span style="color: #000000;">*<span>Recognize and explain the general principles of professional customer service.                  </span></span><span style="color: #000000;">認識並解釋專業客戶服務的一般原則。</span></p>
<p lang=""><span style="color: #000000;"><span>  It is imperative to follow up with the customer after problem resolution and make sure that everything was handled to the customer’s satisfaction, if at all possible.                                  解決問題後必須與客戶保持聯繫，並確保一切可能的事情都得到客戶的滿意。</span></span></p>
<p lang=""><span style="color: #000000;"><span><strong>What are the limits on ensuring customer issues are resolved? </strong><span style="color: #ff6600;">確保解決客戶問題有哪些限制？</span></span></span></p>
<p lang=""><span style="color: #000000;">  S<span>ometimes it is impossible to resolve the situation to a customer’s complete satisfaction. A computer that was involved in a power spike might be a total loss and may not be able to be repaired. A computer virus may infect and destroy sensitive data on a key project. Sometimes valuable items are broken or damaged badly in a shipment. The customer may have special sentimental attachment to certain items. Or, data that was lost because of a system failure may not have been stored anywhere else. Lost or damaged items may not be replaceable, or a new item may not have the same sentimental meaning as the one that was lost or damaged. Lost data may be very difficult to reproduce. These types of situations are just part of life.有時無法解決這種情況以使客戶完全滿意。 涉及電源峰值的計算機可能會造成全部損失，並且可能無法修復。 計算機病毒可能感染並破壞關鍵項目上的敏感數據。 有時，裝運中的貴重物品嚴重損壞或損壞。 客戶可能對某些物品有特殊的情感依戀。 或者，由於系統故障而丟失的數據可能沒有存儲在其他任何地方。 丟失或損壞的物品可能無法更換，或者一件新物品可能與丟失或損壞的物品具有不同的情感含義。 丟失的數據可能很難重現。 這些情況只是生活的一部分。</span></span></p>
<p lang=""><span style="color: #000000;"><span>  If the situation cannot be resolved to the customer’s satisfaction, it is important to apologize for that and to express sympathy and empathy for the way that the customer is feeling at that point in time. Some examples might be:如果無法解決這種情況以使客戶滿意，則必須為此道歉並表達對客戶當時感覺的同情和理解。 一些示例可能是：</span></span></p>
<ul lang="">
<li lang="">"I know how much you loved that car! I am so sorry it was totaled in that accident. I am just glad that you were not hurt."  “我知道你對那輛車有多愛！我很抱歉那次事故我造成的損害。我很高興你沒有受傷。”</li>
<li lang="">"I am so sorry that your favorite vase was broken during the move. I understand that it was your mother’s, and is not something that you can replace. We feel really bad about that."  “很抱歉，您最喜歡的花瓶在搬家過程中被弄壞了。我知道那是您母親給您的花瓶，不是可以更換的東西。對此我們感到非常遺憾。”</li>
<li lang="">"I know how disappointing it is that you’ve lost photos on your hard drive due to the lightning storm. I’m sorry that you’re going through this now. I know how much those photos must have meant to you; my photos of the trip I took with my family this summer mean more to me than I can say."  “我知道您因雷雨而丟失了硬盤驅動器上的照片，這真令人傷心。對於您正在歷經此事，我們深感抱歉。我知道這些照片一定對您意味著什麼；我的照片今年夏天我與家人的旅行中，對我來說意義重大，莫過於我所能說的。”</li>
</ul>
<p lang=""><span style="color: #000000;"><span>  Always follow up with customers after repairs to verify that they are satisfied. This is a good approach for two reasons. First, the customer may be experiencing problems and would appreciate your indication that you are available to help rectify the problem. Second, the customer may have more business or a referral for you, because they were so happy with your performance. This is good customer service and also good business sense!維修後請始終與客戶保持聯繫，以確保他們滿意。 這是一個好方法，有兩個原因。 首先，客戶可能遇到問題，希望您能幫助您解決問題。 其次，客戶可能會對您有更多的業務或推薦，因為他們對您的表現非常滿意。 這是良好的客戶服務，也具有良好的商業意識！</span></span></p>
<p lang=""><span style="color: #0000ff;">p35</span></p>
<p lang=""><span style="color: #000000;"><strong>Proper Treatment of a Customer’s Property</strong>  <span style="color: #ff6600;">妥善處理客戶財產</span></span></p>
<p lang=""><span style="color: #000000;">*<span>Set up a computer system and demonstrate operation for the customer.</span>設置計算機系統並為客戶演示操作。</span></p>
<p lang=""><span style="color: #000000;"><span>  Customers often entrust their confidential and personal data to you in order to have their devices repaired. Above all, respect the customers and their property. There are fundamental rules a technician should follow when handling a customer’s property:</span></span><span title="">客戶通常將其機密和個人數據託付給您，以便對其設備進行維修。</span> <span title="">首先，要尊重客戶及其財產。</span> <span class="" title="">技術人員在處理客戶財產時應遵循的基本規則：</span></p>
<ul lang="">
<li lang="">Do not use a customer’s equipment for personal use. You may have been tasked with setting up email on a customer’s smartphone. That doesn’t give you the right to make personal calls on their phone while it is in your possession.請勿將客戶的設備用於個人用途。 您可能被要求在客戶的智能手機上設置電子郵件。 這並不意味著您擁有在您擁有的電話上通過電話撥打私人電話的權利。</li>
<li lang="">Do not look through a device’s storage unless you need to in order to perform the job requested. If a customer asks you to back up all of his documents, it may be necessary to open the documents folder on the hard disk to copy those files over. This would be acceptable, but if he asked for documents and you are browsing through his pictures folder, this is unacceptable and outside the scope of the required job.除非需要執行請求的工作，否則請勿瀏覽設備的存儲空間。 如果客戶要求您備份所有文檔，則可能有必要打開硬盤上的documents文件夾以復制這些文件。 這是可以接受的，但是如果他要文件，而您正在瀏覽他的圖片文件夾，則這是不可接受的，超出了所需工作的範圍。</li>
<li lang="">Ensure reasonable testing of a device. If you were testing a printer, you should print the minimal amount to verify functionality. There is no need to print 100 pages to verify that a printer works when a single page will suffice. Furthermore, ensure that the content printed is not offensive or personal in nature.確保合理測試設備。 如果要測試打印機，則應打印最少的數量以驗證功能。 當單頁就足夠時，無需打印100頁即可驗證打印機是否工作。 此外，請確保所打印的內容不具有冒犯性或個人性質。</li>
<li lang="">Return all settings to the customer’s preferences. When you work on someone’s machine or device, return the device with all settings reverted to the customer’s preferences. If the monitor resolution must be changed to accomplish the repair task, ensure the customer’s preferred resolution is restored when the job is complete.將所有設置恢復為客戶的偏好設置。 <span title="">當您在某人的機器或設備上工作時，請返回設備並將所有設置恢復為客戶的首選項。</span> <span class="" title="">如果必須更改顯示器分辨率才能完成維修任務，請確保在作業完成後恢復客戶的首選分辨率。</span>
<div class="tlid-input input">
<div class="source-wrap">
<div class="input-full-height-wrapper tlid-input-full-height-wrapper">
<div class="source-input">
<div class="source-footer-wrap source-or-target-footer">
<div class="source-footer">
<div class="speech-wrap source-or-target-footer-button left-positioned">
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" id="gt-speech" role="button"><span class="jfk-button-img"></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</li>
</ul>
<p lang=""><span class="" title=""><span>  Above all, respect customers and their property. Remember that you are a customer too; think of how you would like to be treated, and ensure that you treat your customers in this manner.</span></span><span class="" title="">首先，要尊重客戶及其財產。 請記住，您也是客戶。 考慮如何對待您，並確保您以這種方式對待客戶。</span></p>
<div class="tlid-input input">
<div class="source-wrap">
<div class="input-full-height-wrapper tlid-input-full-height-wrapper">
<div class="source-input">
<div class="source-footer-wrap source-or-target-footer">
<div class="source-footer">
<div class="speech-wrap source-or-target-footer-button left-positioned">
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" id="gt-speech" role="button"><span class="jfk-button-img"></span><span style="color: #0000ff;">p36</span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #0000ff;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><strong>Putting it All Together  </strong><span style="color: #ff6600;">全部放在一起</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>*Set up a computer system and demonstrate operation for the customer.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>設置計算機系統並為客戶演示操作。</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  Truly exceptional customer service involves surprising and delighting the customer by exceeding his or her expectations.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  真正出色的客戶服務涉及超出客戶期望的驚喜和喜悅。</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  The following strategies are effective with all types of customer behavior:</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  以下策略對所有類型的客戶行為均有效：</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button">
<ul lang="">
<li lang="">Warm welcome and friendly smile.  <span style="color: #ff6600;">熱情的歡迎和友好的微笑。</span></li>
<li lang="">Effective listening.  <span style="color: #ff6600;">有效傾聽。</span></li>
<li lang="">Empathy. <span style="color: #ff6600;"> 同情。</span></li>
<li lang="">Follow-through and follow-up.  <span style="color: #ff6600;">跟進再跟進。</span></li>
</ul>
</div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  When dealing with customer service, we always want to exceed our customers’ expectations. One key step to accomplishing this is to set and meet the timeline you provide the customer. You need to tell the customer how long the repairs will take, and also if it is worth the cost of the repair. If a customer calls you for a broken laptop screen replacement on a four-year-old laptop, it may be more cost effective for the customer to simply buy a new laptop. (NOTE: The rule of thumb for laptop repairs is that if it costs 50 percent or more of the cost of a new laptop, replacement is suggested.)</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  處理客戶服務時，我們始終希望超出客戶的期望。 完成此任務的關鍵一步是設置並滿足您為客戶提供的時間表。 您需要告訴客戶維修需要多長時間，以及是否值得花費維修費用。 如果客戶要求您更換一台使用了四年的舊筆記本電腦的筆記本電腦屏幕壞了，那麼客戶只需購買一台新筆記本電腦可能更具成本效益。 （注意：筆記本電腦維修的經驗法則是，如果筆記本電腦維修費用佔新筆記本電腦成本的50％或以上，則建議更換。）</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span></span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button"><span style="color: #000000;"><span>  When options are available, present them logically with the estimated cost, time to repair, and length of future service of the workstation. When providing services to the client, always provide documentation on the services you provided.</span></span></div>
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" role="button">
<div class="tlid-input input">
<div class="source-wrap">
<div class="input-full-height-wrapper tlid-input-full-height-wrapper">
<div class="source-input">
<div class="source-footer-wrap source-or-target-footer">
<div class="character-count tlid-character-count">
<div class="cc-ctr normal"><span title="">  如果有可用的選件，請在邏輯上將其與估計的成本，維修時間和工作站的未來服務時間一起提供。</span> <span class="" title="">向客戶提供服務時，請始終提供有關所提供服務的文檔。</span></div>
</div>
<div class="source-footer">
<div class="speech-wrap source-or-target-footer-button left-positioned">
<div aria-disabled="true" aria-label="請選擇一種要啟用語音輸入的特定語言" aria-pressed="false" class="speech-button goog-toolbar-button goog-toolbar-button-disabled" data-tooltip="請選擇一種要啟用語音輸入的特定語言" data-tooltip-align="t,c" id="gt-speech" role="button"><span class="jfk-button-img"></span></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>